<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
          <p>I’m a software engineer who loves building impactful, high-performance websites and back-end systems. I've led projects across industries, delivered sleek and reliable solutions, and constantly dive into new tech to stay ahead.</p>
      </div>
      <div class="col-lg-4">
          <p>Outside of work, I’m all about side projects that push creativity and innovation. I’m here to keep learning, evolving, and collaborating on projects that make waves in the tech world.</p>
      </div>
<!--      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>-->
    </div>
  </div>
</section>
